In [2]:
import pandas as pd
import matplotlib as mp
import matplotlib.pyplot as plt
import numpy as np
import pylab
% matplotlib inline

In [3]:
import plotly.graph_objs as go
import plotly.figure_factory as ff
mapbox_access_token = 'pk.eyJ1IjoiaGFyaWJhc2thciIsImEiOiJjamFrODR4MTAyZ25mMzJvMnhyamZzenNjIn0.bUxQg8Vvn3HshfSTwuRSPA'
from plotly.graph_objs import *
import plotly.plotly as py

In [4]:
adf = pd.read_csv('C:\Users\HARI BASKAR\Desktop\Liveairtraffic Cln.csv')
adf.head()

,icao24,callsign,origincountry,timeposition,lastcontact,longitude,latitude,geo_altitude,on_ground,speed,heading,vertical_rate,baro_altitude,spi,position_source,Unnamed: 15,pos_date,pos_tm
0,a808c4,NaN,United States,1512163213,1512163217,-78.3118,35.1982,10911.84,False,219.54,211.98,0.00,10942.32,False,0,NaN,01-12-2017,21:20:13
1,a8aac8,DAL2049,United States,1512163219,1512163219,-108.6155,37.7833,11277.60,False,269.92,95.80,-0.33,11483.34,False,0,NaN,01-12-2017,21:20:19
2,a37f17,N324VR,United States,1512163213,1512163216,-85.8126,39.4924,822.96,False,68.23,336.91,-3.58,891.54,False,0,NaN,01-12-2017,21:20:13
3,aa56da,UAL1199,United States,1512163219,1512163219,-95.2804,42.1278,11277.60,False,266.79,79.56,0.00,11338.56,False,0,NaN,01-12-2017,21:20:19
4,89906d,EVA262,Taiwan,1512163220,1512163220,120.6871,24.0946,5806.44,False,211.53,20.95,-22.43,6149.34,False,0,NaN,01-12-2017,21:20:20

In [5]:
lx = adf['origincountry']
ly1= adf['geo_altitude']
ly2= adf['speed']

In [6]:
trace0 = go.Scatter(
    x = lx,
    y = ly1,
    name = 'Altitude',
    mode = 'markers',
    marker=dict(
        size='10',
        color = ly1, #set color equal to a variable
        colorscale='Viridis',
        showscale=True
    )
)

In [7]:
trace1 = go.Scatter(
    x = lx,
    y = ly2,
    name = 'Speed',
    mode = 'markers',
    marker=dict(
        size='10',
        color = ly2, #set color equal to a variable
        colorscale='Viridis',
        showscale=True
    )
)

In [8]:
data = [trace1]
layout = dict(title = 'Average High and Low Temperatures in New York',
              xaxis = dict(title = 'Origin Countries'),
              yaxis = dict(title = 'A/S'),
              )

In [9]:
fig = dict(data=data, layout=layout)
#py.iplot(fig, filename='styled-line')

In [306]:
ongc = adf.groupby([adf['on_ground'],adf['origincountry']])
gr = (ongc.size()).reset_index()
grdf = gr[['on_ground','origincountry',0]]
df_filtered1 = grdf[(grdf['on_ground'] == False) & ((grdf['origincountry'] == 'Australia') |(grdf['origincountry'] == 'Austria') |(grdf['origincountry'] == 'Canada') | (grdf['origincountry'] == 'United Kingdom') | (grdf['origincountry'] == 'Germany'))]
#df_filtered.head
df_filtered2 = grdf[(grdf['on_ground'] == True) & ((grdf['origincountry'] == 'Australia') |(grdf['origincountry'] == 'Austria')| (grdf['origincountry'] == 'Canada') | (grdf['origincountry'] == 'United Kingdom') | (grdf['origincountry'] == 'Germany'))]
df_filtered2

    on_ground   origincountry   0
84       True       Australia   3
85       True         Austria   2
87       True          Canada   4
91       True         Germany  16
98       True  United Kingdom   2

In [307]:
trace1 = go.Bar(
    x=df_filtered1['origincountry'],
    y=df_filtered1[0],
    name='Aircrafts on Sky',
    marker = dict(color='rgb(158,202,225)')
)

In [308]:
trace2 = go.Bar(
    x=df_filtered2['origincountry'],
    y=df_filtered2[0],
    name='Aircrafts on Ground',
    marker = dict(color='rgb(49,163,84)') 
)

In [309]:
data = [trace2, trace1]

In [310]:
layout = go.Layout(
    barmode='stack', title = 'Aircraft Flight Status'
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='stacked-bar')

In [303]:
tvgp = adf.groupby([adf['origincountry']])
tvs = (tvgp.size()).reset_index()
tvssr = tvs.sort_values(0, ascending=[False])
findf = tvssr.head(8)

In [304]:
data = [go.Bar(
            x=findf[0],
            y=findf['origincountry'],
            orientation = 'h',
            marker = dict(color='rgb(102,194,164)')
)]

In [305]:
layout = go.Layout( title = 'Air Traffic Volumes by Countries (Top 8)', autosize = True, margin = dict(l=100,autoexpand=True))
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='horizontal-bar')